:root {
  --accent-color: #1c93d2;
  --accent-font-color: #ffffff;
  --secondary-color: #3b82f6;
  --title-color: #060606;
  --description-color: #666666;
  --background-color: #d8dfe7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
  font-weight: 800;
  color: var(--title-color);
}

li {
  list-style-type: none;
}

input[type="search"] {
  width: 80%;
  background-color: var(--background-color);
  border: none;
  outline: none;
  height: 30px;
  border-radius: 20px;
  padding: 5px 20px;
}

/* div {
  border: 1px solid black;
} */

.sidebar img {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(354deg)
    brightness(106%) contrast(101%);
}

.container {
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
  height: 100vh;
  row-gap: 10px;
  background-color: var(--background-color);
}

.sidebar {
  grid-row: 1/-1;
  background-color: var(--accent-color);
  color: var(--accent-font-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 40px;
  padding: 10px;
}

.branding {
  display: flex;
  align-items: center;
}

.brand-name {
  font-size: 1.5rem;
  font-weight: 800;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.nav-link {
  margin: 20px auto;
}

.nav-link > a {
  color: var(--accent-font-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-link img {
  width: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 5px 20px;
  padding-bottom: 20px;
  row-gap: 10px;
  background-color: var(--accent-font-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.search {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.search img,
.card img {
  width: 20px;
}

.header-top-right {
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-self: center;
}

.pfp {
  width: 40px;
  border-radius: 50%;
}

.pfp.medium {
  width: 60px;
}

.bell {
  width: 20px;
}

.greetings {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.btn {
  color: var(--accent-font-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: 800;
  width: 80px;
  cursor: pointer;
}

.header-bottom-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  justify-self: center;
}

.main-content {
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
  padding: 10px 20px;
  padding-bottom: 40px;
  gap: 12px 20px;
}

.heading {
  align-self: flex-end;
}

.cards-container {
  grid-row: 2/-1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card,
.placard {
  background-color: var(--accent-font-color);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card p,
.placard p {
  color: var(--description-color);
}

.card {
  border-left: 10px solid var(--secondary-color);
  height: 200px;
}

.placard {
  font-size: 0.8rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}
