:root {
  --accent-color: #1c93d2;
  --accent-font-color: #ffffff;
  --secondary-color: #e2b232;
  --title-color: #060606;
  --description-color: #666666;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* div {
  border: 1px solid black;
} */

img {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(354deg)
    brightness(106%) contrast(101%);
}

li {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
  height: 100vh;
}

.sidebar {
  grid-row: 1/-1;
  background-color: var(--accent-color);
  color: var(--accent-font-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 40px;
  padding: 0 10px;
}

.branding {
  display: flex;
  align-items: center;
}

.brand-name {
  font-size: 1.5rem;
  font-weight: 800;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.nav-link {
  margin: 20px auto;
}

.nav-link > a {
  text-decoration: none;
  font-weight: 800;
  color: var(--accent-font-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-link img {
  width: 20px;
  margin-left: 10px;
  margin-right: 20px;
}
